{% extends 'base.html' %}
{% block page_title %}Welcome!{% endblock %}
{% block body %}
    {{ super() }}
    <p>Our Library Database application is meant to serve as an interface for users of the library to:</p>
    <li>Show all available books </li>
    <li>Show checked out books</li>
    <li>Overdue books</li>
    <li>Filters (Title, author, ISBN, categories, years, available (i.e. there’s still a copy left for them to take))</li>
    <li>Search books by the title, author, isbn, or category</li>
    <br>
    <p>It is also meant to serve as a portal for admin users</p>
    <li>Admins should also be able to see a list of Library Members (by name and ID)</li>
    <li>Admins should also be able to see a list of transactions (by member/book)</li>
{% endblock %}

